@media screen and (max-width: 768px){

    body{
        overflow-x: hidden;
    }

    .container{
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
        box-sizing: border-box;
    }

    

    .desktop-nav{
        display: none;
    }

    .navbar{
        padding: 14px 0;
        position: relative;
        min-height: 72px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo{
        font-size: 20px;
        line-height: 1.2;
        margin-left: 10px;
    }

    .hamburger{
        display: flex;
        z-index: 3000;
        margin-right: 10px;
    }

    .hamburger.active{
    opacity: 0;
    pointer-events: none;
    }

    .hamburger i{
        font-size: 38px;
        color: white;
    }

    

    .nav-menu{
        position: fixed;

        top: 0;
        right: -100%;

        width: 245px;
        height: auto;
        padding-bottom: 12px;
        border-bottom-left-radius: 18px;

        background-color: #DCC8D8;

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        padding-top: 14px;
        padding-right: 18px;

        box-sizing: border-box;

        transition: right 0.3s ease;

        z-index: 2500;
    }

    .nav-menu.active{
        right: 0;
    }

    .nav-menu a{
        font-size: 20px;

        color: black;
        text-decoration: none;

        margin-bottom: 34px;

        position: relative;

        width: fit-content;

        line-height: 1;
    }

    

    .nav-menu a::after{
        content: "";

        position: absolute;

        right: 0;
        bottom: -10px;

        width: 100%;
        height: 6px;

        background-color: #C89B4F;

        border-radius: 20px;
    }

    

    .nav-menu a:nth-child(4)::after{
        width: 145%;
        right: -22%;
    }

    

    main{
        padding-top: 40px;
    }

    h1{
        font-size: 64px;
        text-align: center;
        margin-bottom: 45px;
    }

    h2{
        font-size: 28px;
    }

    h3{
        font-size: 24px;
    }

    p,
    li{
        font-size: 16px;
        line-height: 1.45;
    }

    .gold-line{
        margin: 38px 0;
    }

    .hero-button{
        width: 170px;
        height: 48px;
        font-size: 15px;

        display: flex;
        align-items: center;
        justify-content: center;

        text-align: center;
    }

    

    .hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    

    .hero-left{
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    

    .hero-left h1{
        font-size: 46px;
        line-height: 1;
        margin-bottom: 6px;
        text-align: center;
        order: 1;
    }

    

    .hero-left h3{
        font-size: 28px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 26px;
        text-align: center;
        order: 2;
    }

    

    .hero-text-box{
        order: 4;

        width: 100%;
        max-width: 470px;

        background-color: #DCC8D8;

        border-radius: 35px;

        padding: 28px 24px;

        box-sizing: border-box;

        margin-bottom: 28px;
    }

    .hero-text-box p{
        font-size: 16px;
        line-height: 1.4;
        text-align: center;
    }

    

    .hero-button-wrapper{
        order: 5;

        width: 100%;

        display: flex;
        justify-content: flex-end;
    }

    

    .hero-right{
        order: 3;

        width: 100%;

        display: flex;
        justify-content: center;

        margin-bottom: 34px;
    }

    .hero-right img{
        width: 100%;
        max-width: 400px;

        border: 3px solid #C89B4F;
    }

    

    .hero-button{
        width: 165px;
        height: 46px;

        display: flex;
        align-items: center;
        justify-content: center;

        text-align: center;

        font-size: 15px;
    }

    

    .projects-grid{
    display: flex;
    flex-direction: column;
    gap: 24px;
    }

    .projects-text{
        width: 100%;
    }

    .project-images{
        display: flex;
        justify-content: center;
        gap: 18px;
        margin-top: 8px;
    }

    .project-images img:first-child{
        width: 110px;
    }

    .project-images img:last-child{
        width: 245px;
    }

    

    .bottom-grid{
        display: flex;
        flex-direction: column;

        gap: 50px;
    }

    .bottom-item{
        width: 100%;
    }

    .bottom-item .hero-button{
        margin-top: 24px;
        margin-left: auto;

        display: flex;
    }

    .bottom-item{
    padding-bottom: 38px;
    border-bottom: 5px solid #C89B4F;
    }

    .bottom-item:last-child{
        border-bottom: none;
        padding-bottom: 0;
    }

    

    .about-title{
        margin-bottom: 35px;
    }

    .about-top-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-right{
        order: -1;
        margin-bottom: 30px;
    }

    .about-right img{
        width: 240px;
        height: 240px;
    }

    .about-left{
        width: 100%;
    }

    .about-text-area{
        background: transparent;
        padding: 0;
        width: 100%;
    }

    .about-text-area p{
        font-size: 16px;
        line-height: 1.45;
    }

    .about-left .hero-button{
        margin-top: 30px;
        margin-left: auto;
        display: flex;
    }

    

    .project-row{
        display: flex;
        flex-direction: column;
        gap: 26px;
        margin-bottom: 45px;
    }

    .project-left,
    .project-right,
    .project-right-text{
        width: 100%;
    }

    .project-right img,
    .project-left img{
        width: 100%;
    }

    .project-images-two{
        display: flex;
        justify-content: center;
        gap: 18px;
    }

    .project-images-two img{
        width: 45%;
    }

    .project-button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
    }

    .project-button h2{
        margin: 0;
        font-size: 28px;
    }

    

    .single-project-top{
        display: flex;
        flex-direction: column;
    }

    .single-project-image{
        order: -1;
        margin-bottom: 30px;
    }

    .single-project-image img{
        width: 100%;
    }

    .single-project-text{
        width: 100%;
    }

    .gallery-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 28px;
        justify-items: center;
    }

    .gallery-grid img{
        width: 110px;
    }

    

    .cv-grid{
        display: flex;
        flex-direction: column;
        gap: 38px;
    }

    .cv-item{
        width: 100%;
        text-align: left;
    }

    .cv-item h2{
        margin-bottom: 12px;
    }

    .cv-line{
        width: 100%;
        margin: 0 0 25px 0;
    }

    .cv-item ul{
        padding-left: 25px;
    }

    .cv-item li{
        margin-bottom: 18px;
    }

    .cv-download{
        margin-top: 35px;
        display: flex;
        justify-content: flex-end;
    }

    .cv-download .hero-button{
        justify-content: center;
        text-align: center;
        padding: 0;
    }

    

    .hobbies-grid{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .hobbies-divider{
        width: 100%;
        height: 5px;
    }

    .volleyball-images{
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .volleyball-images img{
        width: 45%;
    }

    .hobbies-right img{
        width: 85%;
        display: block;
        margin: 0 auto;
    }

    .hobby-text{
        margin-top: 25px;
    }

    

    .contact-subtitle{
        width: 100%;
        margin-bottom: 45px;
        text-align: left;
    }

    .contact-form{
        width: 100%;
    }

    .form-group{
        margin-bottom: 30px;
    }

    .contact-form input,
    .contact-form textarea{
        width: 100%;
        box-sizing: border-box;
        font-size: 16px;
    }

    .contact-form textarea{
        height: 260px;
    }

    .contact-button-wrapper{
        display: flex;
        justify-content: flex-end;
    }

    

    footer{
        padding: 20px 0;
        margin-top: 40px;
    }

    .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-content p{
        display: none;
    }

    .social-icons{
        gap: 60px;
    }

    .social-icons i{
        font-size: 42px;
    }
}