:root {

    --background-color: #F4EFEC;
    --primary-color: #A87EA1;
    --secondary-color: #DCC8D8;
    --accent-color: #C79B52;

    --text-color: #1F1F1F;
    --white-color: #FFFFFF;

    --font-heading: "Cormorant Garamond", serif;
    --font-body: "DM Sans", sans-serif;

    --container-width: 1400px;

    --border-radius: 25px;

    --transition: 0.3s ease;
}